/*Global styles*/
:root {
    --primary: #0eb65c;
    --primary-dark: #105f37;
    --secondary:  #2C7A7B;
    --background: #F7FAFC;
    --card-bg: #FFFFFF;
    --text-main: #2D3748;
    --text-muted: #718096;
    --border: #e2e8f042;
    --danger: #E53E3E;
}

[data-theme="dark"] {
    --primary: #0eb65c;
    --primary-dark: #105f37;
    --secondary: #ffffff;

    --background: #1A202C;
    --card-bg: #2D3748;

    --text-main: #EDF2F7;
    --text-muted: #A0AEC0;

    --border: rgba(255, 255, 255, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    transition: background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
}


body {
    align-items: center;
    background-color: var(--background);
    box-sizing: border-box;
    color: var(--text-main);
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    text-align: center;
}

/* =====================
   MENSAGENS DE ERRO
===================== */

.Message {
    max-width: 400px;
    margin: 1rem auto;
}

.Invalid{
    color: var(--danger);
    font: 0.85rem;
    margin-bottom: 0.3rem;
}