/* header, footer, forms*/

/* =====================
   FORMULÁRIO
===================== */

form{
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
    max-width: 400px;
    padding: 2rem;
    width: 100%;
}

.Labels{
    color: var(--text-main);
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.Input-form{
    border: 1px solid var(--text-main);
    border-radius: 6px;
    font-size: 0.95rem;
    margin-bottom: 1.2rem;
    padding: 0.7rem;
    width: 100%;
}

.Input-form:focus{
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(47, 133, 90, 0.15);
}