body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
    align-items: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 220px;
}

button {
    padding: 10px 20px;
}

